//colors
$bgColor: #ebf1ed;
$darkestBgColor: #d0e0dc;
$textColor: #3e5d4c;
$colorlessText:#9AA08699;
$lightTextColor:#7C8363;
///darkmode
$darkModeBgColor: #363837;
$darkModeDarkestBgColor: #323030;
//fonts
$font:"Ysabeau Infant";
$titleFont:"Lobster Two";
//sizes
$small:14px;
$medium:18px;
$large:22px;
$extra:30px;
$mega:35px;
/// font weights
$lightWeight:400;
$mediumWeight:600;
$boldWeight:700;
$extraBold:900;
/// radius
$smallR:6px;
$mediumR:10px;


