@import "../../styles/Variables";
@import "../../styles/Mixins";


.projects-section{
   .container{
      .projects-wrapper{
         min-height: 300px;
         position: relative;
         display: flex;
         gap: 20px;
         flex-wrap: wrap;
         padding: 50px 0;
         justify-content: center;
         .error-text{
            color: #bc4d4d;
            text-align: center;
            font-weight: $boldWeight;
            font-size: $large;
            font-family: $font;
         }
      }
   }
}
