@import "../../styles/Mixins";
@import "../../styles/Variables";


.contact-section{
   height: 90vh;
   .container{
      .contact-wrapper{
         display: flex;
         align-items: center;
         justify-content: center;
         height: 100%;
      }
   }
   &.darkmode{
      background-color: $darkModeBgColor;
   }
}